.price_box{
    display: block;
    position: relative;
    z-index: 5;
    right: 0px;
    width: 35%;
    height: 100%;
    background-color: #FFF6EA;
    transition: all 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}