canvas {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  z-index: -4;
}


@media screen and (max-width: 600px) {
  canvas{
    display: none;
  }

  .load{
    display: none;
  }
  .item_bar:nth-child(3){
    display: none;
  }
}

