* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}


input, textarea {
 
-moz-user-select: auto;
-webkit-user-select: auto;
-ms-user-select: auto;
user-select: auto;
 
}
 
body {
  width: 100%;
  height: auto;
  background-color: #f4f4f5;
  overflow: scroll;
  position: relative;
  overflow-x: hidden;
}

@font-face {
  font-family: "ChosunCentennial";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 1200px 이상일때 */

@media screen and (min-width: 1200px) {
  #main{
    margin: 0 auto;
   width: 66%; 
  }
}
