#navbar {
  background-color: #fff;
  position: sticky;
  top: 0px;
  width: 70%;
  margin: 0 auto;
  height: 5vh;
  z-index: 3;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s;
}

#navbar .navbox {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 1.2rem;
}

.navbox a {
  color: rgb(32, 33, 36);
  text-decoration: none;
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border-radius: 8px;
  cursor: pointer;
}

.logo{
  font-family: 'ChosunCentennial';
 

}

.login_btn:hover {
  color: rgb(26, 115, 232);
  background-color: rgba(26, 115, 232, 0.2);
}

/*1200px 이하일때*/
@media screen and (max-width: 1200px) {
  #navbar {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  #navbar {
    width: 55%;
  }
}


@media screen and (max-width: 600px) {
  .navbox a{
    width: auto;
    font-size: 0.8rem;
  }
  #navbar{
    height: 11vh;
  }

  .navbox{
    width: 86%;
  }
}