.review_title{
    width: 100%;
    height: 100%;
 
}
 
.star_count{
 
    font-weight: bold;
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: center;
    font-size: 3rem;
    justify-items: left;
}

.star_count .star_list{

    display: grid;
    margin-left: 0.4rem;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-items: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.star_count img{
    width: 100%;
}

.review_list{
    width: 100%;
    height: 100%;
 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}


.review_sub_title{
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: rgba(0,0,0,0.6);
}

.show_progress{
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
}

.progress_background{
    width: 100%;
    height: 55%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
.progress_bar{
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(104, 255, 109, 0.6);
    transition: all 0.5s;
    animation: slide 0.5s both;
}


.subtitle_review_count{
    width: 100%;
    text-align: center;
}

/* @keyframes slide{
    100%{
        width: 50%;
    }
} */


.write_box{
    margin-top: 1rem;
    padding: 2%;
    width: 98%;
    height: 40vh;
    border-radius: 5px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    list-style: none;
}

.write_box div{
    width: 100%;
    height: 100%;
}

.choose_star{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.star_item{
    width: 95%;
    height: 72%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}
 
.stars_count{
    display: grid;
    width: 65%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.stars_count img{
    width: 80%;
    height: auto;
}

 

.write_review{
  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.3fr;
    gap: 3%;
    
}

 

.write_item{
    
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 200, 0.6);    
}
.write_item textarea{
    width: 90%;
    height: 72%;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    padding: 1%;
}   

.write_item span{
    display: inline-block;
    width: 88%;
    height: 75%;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    border-radius: 5px;
    padding: 1%;
    color: rgba(0, 0, 0, 0.5);
}

.save_btn{
    width: 93%;
    height: 100%;
    display: grid;
    justify-items: right;
}

.save_btn button{

    border: none;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    outline: none;
}

.save_btn button:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);
}

.write_box_list{

    width:100%;
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
}

.size{
    width: 94%;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}