/* 군대 목록 */
.mili_box {
  width: 75%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.mili_selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mili_btn {
  list-style: none;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  color: rgb(140, 140, 140);
  transition: all 0.5s;
}

.mili_img_box {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 1rem;
}

.mili_btn:hover {
  background-color: rgb(216, 216, 216);
}

/* 보직 목록 */
.list_wrap {
  width: 75%;
  padding: 10px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.mili_img_box {
  height: auto;
}

.mili_img_box img {
  border-radius: 3rem;
  width: 20%;
  margin-bottom: 2rem;
}



/* 리스트 */

.list{
  background-color: #fff;
  width: 100%;
  height:auto;
  border-radius: 1rem;
  padding-top: 1rem;
  margin-bottom: 5rem;
}

.idx{
  color: rgb(146, 146, 146);
  width: 14%;
  margin-left: 1.5rem;
  height: 70%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_box{
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.wrapper{
  width: 80%;
  height: 100%;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
  .positionName{
    width: 60%;
   
 
    height: 100%;
    display: flex;
    align-items: center;
 
      font-size: 1.2rem;
      font-weight: bold;
      
  }

  .arrow_box{
 
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.arrow_box img{
  width: 30%;
  object-fit: contain;
  transition: all 0.5s;
}

.arrow_box img:hover{
  margin-left: 1rem;
}


  

