/* 군대 목록 */
.mili_box {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  width: 82.5%;
  background: #fff;
  border-radius: 11px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.mili_selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mili_btn {
  list-style: none;
  background-color: #fff;
  display: flex;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  border: 1px solid #c9c6c6;
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  color: rgb(140, 140, 140);
}

#search_wrap{
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  
  width: 100%;
  
  margin-bottom: 2rem;
  align-items: center;
}

.mili_img_box {
  width: 95%;
  height: 100%;
  border-radius: 1rem;
  background-color: #fff;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mili_img_box img {
  width: 66%;
  height: auto;
  border-radius: 3rem;


}
#search {
  border: none;
  border: 2px solid rgb(232, 232, 255);
  width: 98%;
  height: 3rem;
  padding: 1%;
  font-size: 1rem;
  /* margin-bottom: 2rem; */
  border-radius: 10px;
  color: rgb(140, 140, 140, 1);
  transition: all 0.5s;
}
#search::placeholder {
  color: gray;
}

#search:focus {
  outline: none;
  border-radius: 15px;
  border: 2px solid rgb(193, 193, 255);
}
.mili_btn:hover {
  background-color: rgb(216, 216, 216);
}

/* 보직 목록 */
.list_wrap {
  width: 85%;
  padding: 10px;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

 

/* 리스트 */

.list {
  background-color: #fff;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  padding-top: 1rem;
}
/* 해병 color: rgb(255 130 130);
    background-color: rgb(255 51 51 / 10%);
    
    육군color: rgb(89 175 46);
    background-color: rgb(52 215 84 / 21%);
    
    해군  color: rgb(82 183 243);
    background-color: rgb(52 166 215 / 21%);
    공군
      color: rgb(146, 146, 146);
  background-color: rgba(0, 0, 0, 0.1);
    */
.idx {
  color: rgb(146, 146, 146);
  background-color: rgba(0, 0, 0, 0.1);
  width: 14%;
  margin-left: 1.5rem;
  height: 70%;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list_box {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list_box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  width: 80%;
  height: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.positionName {
  width: 60%;

  height: 100%;
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  font-weight: bold;
}

.arrow_box {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_box img {
  width: 30%;
  object-fit: contain;
  transition: all 0.5s;
}

.arrow_box img:hover {
  margin-left: 1rem;
}

.codename {
  width: 10%;
  color: #ababab;
}
 

/*1200px 이상일때*/
@media screen and (min-width: 1200px) {
  .list_wrap {
    width: 55%;
  }
  .mili_box {
    width: 54%;
  }
  #chart {
    width: 52.5%;
  }
  .arrow_box {
    width: 13%;
    padding-left: 17%;
  }
}

/* 이하 */
@media screen and (max-width: 700px) {
  .list_wrap {
    width: 90%;
    margin-top: 2rem;
  }
  #search {
    width: 93.5%;
    height: 3rem;
    padding: 1%;
    padding-left: 4%;
  }
  .positionName {
    width: 50%;
  }

  .wrapper {
    width: 76%;
  }
  .mili_box {
    width: 85.3%;
  }

  .mili_btn {
    width: 21%;
    font-size: 0.9rem;
    height: 2.5rem;
    border-radius: 20px;
  }
  #chart {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    width: 75%;
  }
  .positionName {
    width: 32%;
    font-size: 0.8rem;
    margin-left: 1.5rem;
  }
  .idx {
    width: 20%;
    margin-left: 0.5rem;
    height: 62%;
  }

  .mili_box {
    width: 85.3%;
  }

  .mili_btn {
    width: 21%;
    font-size: 0.9rem;
    height: 2rem;
    border-radius: 20px;
  }
}
